<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/order/{{customerData}}">Live for Food</a>
     <!--  <input class="searchInputField form-control" #searchInput type="search" placeholder="Search" aria-label="Search" (keyup)="searchItem(searchInput.value)"> -->
     &nbsp;&nbsp;<a></a><a></a><a></a>
     <button class="todayDealsButton text-white"><fa-icon [icon]="nearbyStoreIcon"></fa-icon> NEARBY STORE</button>
     <button class="todayDealsButton text-white"><fa-icon [icon]="todayDealIcon"></fa-icon> TODAY DEALS</button>
      <button class="cartBTN" routerLink="/yourOrder/{{customerData}}">CART<fa-icon [icon] = "cartIcon"></fa-icon></button>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Live for Food</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"></a>
            </li>
            <li class="nav-item">
              <button class="btn btn-success" #burger value="BURGER" routerLink="/burger/{{customerData}}">Burger</button>
            </li>
          </ul>
          <form class="d-flex mt-3" role="search">
            <button class="btn btn-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
  </nav>
<br>
<br>

<!-- Successful message after add item -->
