<app-adminheader></app-adminheader>

<div class="card mb-3 ms-3" *ngFor="let data of todayOrder">
    <div class="card-body">
        <h3>Order Id: {{ data.customerId}} &nbsp;&nbsp;&nbsp; {{data.data | date:'d/M/yy, h:mm a'}}</h3>

        <table class="table">
            <thead>
                <th>Food Name</th>
            </thead>
            <tbody>
                <tr *ngFor="let item of data.client">
                    <td class="details"><fa-icon class="showItemIcon" [icon]="displayIcon"
                            (mouseover)="openPopup(item.food.url,item.food.foodName,item.food.price)"
                            (mouseleave)="closePopup()"></fa-icon> &nbsp;&nbsp;
                        {{item.food.foodName}}

                    </td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-danger" (click)="markOrder(data.id)" *ngIf="data.flag===false">Complete</button>
        <span style="color: green;" *ngIf="data.flag===true">Delivered</span>
    </div>
</div>
<div class="modal " tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog customModel" role="document">
        <div class="modal-content">
            <div class="modal-header customModel">
            </div>
            <div class="modal-body customModel">
                <div class="container text-center">
                    <div class="row row-cols">
                        <div class="col mt-3">
                            <div class="card customCard">
                                <img src={{foodUrl}} class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title"> {{foodName}} </h5>
                                    <p class="card-text">PRICE- {{foodPrice}} Rs </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>