  <div class="container">
    <div class="row align-items-center">
      

<div class="col">
  <div class="imageDiv"><img class="headerImage" [src]="OrderFood"></div>
  </div>
  <div class="col">
    <br><br><br>
    <h1>Be The Quickest <br> In Having <br> Your Food</h1><br>
    <label >Our job is to fill your tummy with delicious food <br> and with fast and free delivery.</label><br><br>  
    <a class="btn btn-danger getStarted" routerLink="/order/{{customerId}}">Get Started <fa-icon [icon]="burgerIcon"></fa-icon> </a>
  </div>
  </div>
  </div>

  